<h1>CustomerBookings#index</h1>
<p>Find me in app/views/customer_bookings/index.html.erb</p>

<%= link_to 'add booking', new_customer_booking_path %></br>
<%= link_to 'Sign Out', destroy_customer_session_path, method: 'delete' %>